.budgetLabel {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.budgetInfo {
    display: flex;
    padding: 3px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.buttons {
    display: flex;
    justify-content: center;
    align-content: center;
}
.Salarybutton {
    padding: 5px;
    margin: 5px;
}